{% extends 'components/admin_layout.html' %}

{% from 'components/tables.html' import infima_table %}

{% block links %}
<link rel="stylesheet" type="text/css" href="{{url_for('admin.static', filename='stylesheets/admin.css')}}">
<link rel="stylesheet" type="text/css" href="{{url_for('admin.static', filename='stylesheets/table.css')}}">
{% endblock %}

{% block body %}
<div class="overview-item">
    <div class="overview-container">
        <div class="table-title">
            <h3>Infima overview of edition {{ edition }}</h3>
        </div>
        {{ infima_table(infima) }}
    </div>
</div>
{% endblock %}