{% extends 'layout.html' %}

{% from 'components/macros.html' import render_field %}

{% block links %}
<link rel="stylesheet" type="text/css" href="{{url_for('admin.static', filename='stylesheets/admin.css')}}">
<link rel="stylesheet" type="text/css" href="{{url_for('admin.static', filename='stylesheets/form.css')}}">
{% endblock %}

{% block body %}
<div class="overview-item full-page">
    <h3>Assign Infima to edition.</h3>
    {% if form %}
        <form method="POST" action="{{ request.url }}">
            <div class="panel panel-default">                
                {{ form.csrf_token }}
                <h3>The infima</h3>
                {% for infimum in form.infima %}
                    <div class="form-check">
                        {{ render_field(infimum, show_label=True) }}
                    </div>                    
                {% endfor %}
                <h3>Assign to</h3>
                {{ render_field(form.supremum, show_label=True) }}
                <button type="submit" class="submit-btn" style="margin-right: 1em;">
                    <i class="fa fa-sign-in"></i><p>> Assign</p>
                </button>
            </div>
        </form>    
    {% endif %}
</div>
{% endblock %}