{% extends 'components/admin_layout.html' %}

{% from 'components/macros.html' import render_field %}

{% block links %}
<link rel="stylesheet" type="text/css" href="{{url_for('admin.static', filename='stylesheets/admin.css')}}">
<link rel="stylesheet" type="text/css" href="{{url_for('admin.static', filename='stylesheets/form.css')}}">
{% endblock %}

{% block body %}
<div class="overview-item full-page">
    <h3>Edit infimum.</h3>
    {% if form %}
        <form method="POST" action="{{ request.url }}" enctype="multipart/form-data">
            <div class="panel panel-default">
                {{ form.csrf_token }}
                {{ render_field(form.infimum_id, show_label=True) }}
                {{ render_field(form.creation_date, show_label=True) }}
                {{ render_field(form.supremum, show_label=True) }}
                {{ render_field(form.content, show_label=True) }}
                {{ render_field(form.rejected, show_label=True) }}
                <button type="submit" class="submit-btn" style="margin-right: 1em;">
                    <i class="fa fa-sign-in"></i><p>> Submit</p>
                </button>
            </div>
        </form>    
    {% endif %}
</div>
{% endblock %}