{% extends 'components/admin_layout.html' %}

{% from 'components/tables.html' import infima_table, supremum_table %}

{% block links %}
<link rel="stylesheet" type="text/css" href="{{url_for('admin.static', filename='stylesheets/admin.css')}}">
<link rel="stylesheet" type="text/css" href="{{url_for('admin.static', filename='stylesheets/table.css')}}">
{% endblock %}

{% block body %}
<section>
    <div class="table-title">
        <h3>Supremum overview</h3>
        <div class="buttons">
            {% if not all_editions %}
                <a class="cta-button btn-hover" href="?nr_supremum=0"><b>Show all</b></a>
            {% endif %}
            <a class="cta-button btn-hover" href="{{ url_for('admin.new_supremum')}}"><b>+</b></a>
        </div>
    </div>
</section>
<section>
    <div class="table-container">
        {{ supremum_table(editions) }}
    </div>
</section>
<section>
    <div class="table-title">
        <h3>Unassigned infima overview</h3>
        <div class="buttons">
            {% if not all_infima %}
                <a class="cta-button btn-hover" href="?nr_infima=0"><b>Show all</b></a>
            {% endif %}
            <a class="cta-button btn-hover" href="{{ url_for('admin.assign_infima') }}"><b>></b></a>
        </div>
    </div>
</section>
<section>
    <div class="table-container">
        {{ infima_table(infima) }}
    </div>
</section>
{% endblock %}