{% extends 'components/admin_layout.html' %}

{% block links %}
<link rel="stylesheet" type="text/css" href="{{url_for('admin.static', filename='stylesheets/admin.css')}}">
{% endblock %}

{% block body %}
<div class="overview-item">
    <div class="overview-container">
        <div class="table-title">
            <h3>Supremum overview</h3>
            <a class="cta-button" href="supremum/new"><b>+</b></a>
        </div>
        <div class="admin-table">
            <table>
                <tr>
                    <th><span>Name</span></th>
                    <th><span>Title</span></th>
                    <th colspan="3"><span>Status</span></th>
                    <th></th>
                </tr>
                {% for edition in editions %}
                <tr>
                    <td class="name">
                        <p>{{ edition.name }}</p>
                    </td>
                    <td class="title">
                        <p>{{ edition.title }}</p>
                    </td>
                    <td class="icon">
                        {% if edition.published %}
                        <img src="{{url_for('admin.static', filename='img/visible.svg')}}">
                        {% else %}
                        <img src="{{url_for('admin.static', filename='img/invisible.svg')}}">
                        {% endif %}
                    </td>
                    <td class="icon">
                        {% if edition.pdf_url %}
                        <a href="{{edition.pdf_url}}">
                            <img src="{{url_for('admin.static', filename='img/document.svg')}}">
                        </a>
                        {% else %}
                        <img src="{{url_for('admin.static', filename='img/no_document.svg')}}">
                        {% endif %}
                    </td>
                    <td class="icon">
                        {% if edition.img_url %}
                        <a href="{{edition.img_url}}">
                            <img src="{{url_for('admin.static', filename='img/image.svg')}}">
                        </a>
                        {% else %}
                        <img src="{{url_for('admin.static', filename='img/no_image.svg')}}">
                        {% endif %}
                    </td>
                    <td class="edit">
                        <a class="edit-btn" href="supremum/edit/{{edition.id}}">
                            <img src="{{url_for('admin.static', filename='img/pencil.svg')}}">
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>
<div class="overview-item">
    <div class="overview-container">
        <div class="table-title">
            <h3>Unassigned infima overview</h3>
            <a class="cta-button" href="infimum/assign"><b>></b></a>
        </div>
        <div class="admin-table">
            <table>
                <tr>
                    <th><span>Id</span></th>
                    <th><span>Content</span></th>
                    <th><span>Date</span></th>
                    <th><span>Rejected</span></th>
                    <th></th>
                </tr>
                {% for infimum in infima %}
                <tr>
                    <td class="id">
                        <p>{{ infimum.id }}</p>
                    </td>
                    <td class="content">
                        <p>{{ infimum.content }}</p>
                    </td>
                    <td class="submission-date">
                        <p>{{ infimum.submission_date }}</p>
                    </td>
                    <td class="rejected">
                        <p>{{ infimum.rejected }}</p>
                    </td>
                    <td class="edit">
                        <a class="edit-btn" href="infimum/edit/{{infimum.id}}">
                            <img src="{{url_for('admin.static', filename='img/pencil.svg')}}">
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>
{% endblock %}