{% extends 'components/admin_layout.html' %}

{% from 'components/tables.html' import infima_table, supremum_table %}

{% block links %}
<link rel="stylesheet" type="text/css" href="{{url_for('admin.static', filename='stylesheets/admin.css')}}">
<link rel="stylesheet" type="text/css" href="{{url_for('admin.static', filename='stylesheets/table.css')}}">
{% endblock %}

{% block body %}
<section>
    <div class="table-title">
        <h3>Supremum overview</h3>
        <a class="cta-button" href="supremum/new"><b>+</b></a>
    </div>
</section>
<section>
    <div class="table-container">
        {{ supremum_table(editions) }}
    </div>
</section>
<section>
    <div class="table-title">
        <h3>Unassigned infima overview</h3>
        <a class="cta-button" href="infima/assign"><b>></b></a>
    </div>
</section>
<section>
<div class="table-container">
    {{ infima_table(infima) }}
</div>
</section>
{% endblock %}