{% extends 'layout.html' %}

{% block links %}
<link rel="stylesheet" type="text/css" href="{{url_for('infima.static', filename='stylesheets/infima.css')}}">
{% endblock %}

{% block body %}
<div class="infima-overview">
    <h1 class="title">The infima</h1>
    <h3>Search</h3>
    <form></form>
    <h3>Per edition</h3>
    <div class="edition-list">
        {% for edition in editions %}
        <a class="edition-link" href="./{{edition.volume_nr}}.{{edition.edition_nr}}"><span>{{edition.volume_nr}}.{{edition.edition_nr}} - {{edition.theme}}</span></a>
        {% endfor %}
    </div>    
</div>
{% endblock %}