* {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

h1, h2, h3, p {
    font-family: Arial, Helvetica, sans-serif;
}


h1 {
    font-size: 5rem;
}
h3 {
    font-size: 3.5rem;
}

p, span {
    font-size: 2rem;
}

#home-banner {
    display: flex;
    align-items: center;

    background-color: white;
    min-height: 8vh;    
}

#home-banner h3 {
    color: #D40026
}

#banner-logo {
    height: 5vh;
    margin: 1.5vh 0 1.5vh 1.5vh;
}

.home-page-item {
    min-height: calc(max(50px, 80vh));    
    background-color: #D40026
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-centered {
    display: flex;
    align-items: center;
    justify-content: center;
}

#latest-edition-box {
    max-width: 1000px;
    color: white;
}


#latest-edition-title {
    margin: 3.5vh 0;
}

#latest-edition-cover {
    width: 750px;
    max-width: 90%;
    box-shadow: 0px 0px 50px 2px #000;
    -webkit-box-shadow: 0px 0px 50px 2px #000;
    -moz-box-shadow: 0px 0px 50px 2px #000;
}

#latest-edition-read {
    color: #D40026;
    border: none;
    background-color: white;
    font-weight: bold;

    width: 750px;
    max-width: 90%;
    padding: 75px 0;

    margin: 5vh 0vw;
}

#read-now {
    width: 100%;
    margin: 3vh 0;
}

#chevron {
    width: 10%;
    max-width: 100px;
}

#home-about {
    padding: 5vh 0;    
    align-self: center;
}

#home-about h3{
    margin: 2vh 0;
}

#home-about p {
    line-height: 1.6;
}

#about-container {
    max-width: 1000px;
    width: 90%;
}

#about-banner {
    width: 700px;
    max-width: 80%;
    align-self: center;
    border-radius: 25px;
}