* {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

h1, h2, h3, p {
    font-family: Arial, Helvetica, sans-serif;
}


h1 {
    font-size: 5rem;
}
h3 {
    font-size: 3.5rem;
}

p, span {
    font-size: 2rem;
    line-height: 1.6;
}

button {
    background-color: transparent;
    border: none;    
    text-decoration: underline;
}


/* Custom classes */

.flex {
    display: flex;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-centered {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-right {
    justify-content: flex-end;
}

.element-section {
    padding: 5vh 0;
}

.element-section h3{
    margin: 2vh 0;
}

.element-container {
    max-width: 750px;
    width: 75%;
}

.white-text {
    color:white;
}

.red-text {
    color: #D40026;
}

/* Banner */

#home-banner {
    display: flex;
    align-items: center;
    background-color: white;
}

#home-banner h3 {
    color: #D40026
}

#banner-logo {
    color: #D40026;
    font-size: 3.5rem;
    margin: 2rem 0 2rem 2rem;
}


/* Latest edition */

#latest-edition-container {
    min-height: calc(max(50px, 80vh));    
    background-color: #D40026
}

#latest-edition-box {
    max-width: 1000px;
    color: white;
}

#latest-edition-title {
    margin: 3.5vh 0;
}

#latest-edition-cover {
    width: 750px;
    max-width: 100%;
    box-shadow: 0px 0px 50px 2px #000;
    -webkit-box-shadow: 0px 0px 50px 2px #000;
    -moz-box-shadow: 0px 0px 50px 2px #000;
}

#latest-edition-cover:hover{
    background-color: white;
    box-shadow: 0px 5px 55px 2px #000;
    -webkit-box-shadow: 0px 5px 55px 2px #000;
    -moz-box-shadow: 0px 5px 55px 2px #000;
    transform: translateY(-5px);
}

#read-now {
    width: 100%;
    margin: 3vh 0;
}

#chevron {
    width: 10%;
    max-width: 100px;
}


/* About section */
#about-banner {
    max-width: 100%;
    align-self: center;
    border-radius: 25px;
}

/* Infima */
#home-infima {
    padding: 5vh 0;
    background-color: #D40026;
    color: white;
    text-align: right;
}

#home-infima h3 {
    margin: 2vh 0;
}

/* Footer */
#footer {
    min-height: 8vh;

    background-color: #D40026;
}
