.module {
    box-sizing: border-box;
    padding-top: 1rem;
}

a {
    display: block;
    text-decoration: none;
}

.infima-overview {
    display: flex;
    flex-direction: column;
    align-self: center;
    min-height: var(--window-height);
    width: min(500px, 90%);
}

.edition-list {
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
    gap: 1rem;
}

.edition-link {
    padding: 3rem 2.5rem;
    border-radius: 5px;
    background-color: var(--clr-accent-700);
    color: #ffffff;
    font-weight: 700;
}

.edition-link:hover,
.edition-link:active {
    background-color: #0f0f0f;
}

.title {
    color: var(--clr-accent-700);
    margin-left: 3rem;
}

.infima-list {
    display: grid;
    gap: 2rem;
    margin-bottom: 2rem;
}

.infima-card {
    border: 1px solid #aaaaaa;
    padding: 0 1rem;
}

/* Search form */

.form input {
    box-sizing: border-box;
    padding: 1rem .5rem;
    width: 100% ;
}

.form .submit-btn {
    margin-left: auto;
    margin-right: 0;
}


.submit {
    text-decoration: underline;
}

.submit-btn {
    display: block;
    border: none;
    background-color: transparent;
    text-decoration: underline;
    color: var(--clr-accent-700);
    cursor: pointer;
    margin-top: 1rem;
}

.submit-btn p {
    margin: 0;
}

/* Infimum */
.infimum {
    width: 100%;
    box-sizing: border-box;
    padding: 1rem;
    border: solid 1px #0f0f0f;
    border-radius: .5rem;    
}

.infimum-content {
    margin: .5rem 0 1rem;
}

.infimum-link {
    display: block;
    color: var(--clr-accent-700);
    font-size: 1.5rem;
}