:root {
    --gewis-rood: #D40026;
    --menu-height: 7rem;
    --footer-height: 7rem;
    --window-height: calc(100vh - var(--menu-height) - var(--footer-height));
}

body, html, div {
    padding: 0;
    margin: 0;
}

@media (min-width: 858px) {
    html {
        font-size: 12px;
    }
}

@media (min-width: 780px) {
    html {
        font-size: 11px;
    }
}

@media (min-width: 702px) {
    html {
        font-size: 10px;
    }
}

@media (min-width: 624px) {
    html {
        font-size: 9px;
    }
}

@media (max-width: 623px) {
    html {
        font-size: 8px;
    }

    .accomodate-shrink {
        display: none;
    }
}

a {
    text-decoration: none;
    cursor: pointer;
    color: #000000;
}

h1, h2, h3, p, span {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 4.5rem;
}

h2 {
    font-size: 3.75rem;
}

h3 {
    font-size: 2.75rem;
}

p, span {
    font-size: 2rem;
    line-height: 1.6;
}

/* Menu */

#menu {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: var(--menu-height);
    overflow: hidden;
    background-color: white;
    top: 0;
    position: fixed;
    z-index: 2;
}

.menu-logo {
    display: flex;
    flex-direction: row;
    color: var(--gewis-rood);
    font-size: 3.5rem;
    margin: 2rem 0 2rem 2rem;
}

.logo-text {
    margin: 0;
    margin-left: 3px;
}

/* Layout & Basic components */

.container {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
    max-width: 100vw;
    min-height: var(--window-height);
    /* Prevent content overflow */
    margin-top: var(--menu-height);
}


/* Footer */

#footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: var(--footer-height);
    background-color: var(--gewis-rood);
    color: white;
}