{% extends 'components/puzzle_layout.html' %}

{% block links %}
<link rel="stylesheet" type="text/css" href="{{url_for('home.static', filename='stylesheets/puzzle_answers.css')}}">
{% endblock %}

{% block body %}
<h3>Answer for the 29th of January</h3>
<p class="section-content">
    Let n be the amount of sheep in the original heard.
    The price the brothers get per sheep is 8n, therefore they have 8n² dollars in total after selling all the sheep.
</br>
    Let p be the amount of money the older brother has, and q the amount of money for the younger brother.
    We know that 8n² = p+q. Furthermore, p is a multiple of 10. We also know that 

</p>


{% endblock %}