{% extends 'layout.html' %}

{% block links %}
<link rel="stylesheet" type="text/css" href="{{url_for('home.static', filename='stylesheets/archive.css')}}">
{% endblock%}


{% block body %}
<div class="flex-centered">
    {% for volume, editions in volumes.items()|reverse %}
    <div class="archive-item">
        <div class="archive-container">
            <h3 class="volume-title">Volume {{volume}}</h3>
            <div class="volume-box">
                {% for edition in editions %}
                <div class="edition-box">
                    <a class="flex-centered" id="edition" href='{{edition.pdf_url}}'>
                        <img class="gray-hover" id="edition-cover" src='{{edition.cover_url}}' loading="lazy">
                    </a>
                    <p><b>{{ edition.title }}</b></p>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}