{% extends 'components/layout.html' %}

{% block links %}
<link rel="stylesheet" type="text/css" href="{{url_for('home.static', filename='stylesheets/archive.css')}}">
{% endblock%}


{% block body %}
{% for volume, editions in volumes.items() %}
<section>
    <div class="archive-container">
        <h3 class="volume-title">Volume {{volume}}</h3>
        <div class="volume-box">
            {% for edition in editions %}
            <a class="edition-box" href='{{edition.pdf_url}}'>
                <img class="gray-hover" id="edition-cover" src='{{edition.cover_url}}' loading="lazy">
                <span class="section-link">{{ edition.theme }}</span>
            </a>
            {% endfor %}
        </div>
    </div>
</section>
{% endfor %}
{% endblock %}