{% extends 'layout.html' %}

{% block links %}
<link rel="stylesheet" type="text/css" href="{{url_for('home.static', filename='stylesheets/home.css')}}">
{% endblock %}

{% block body %}

<!-- Edition section -->
<div class="content-item">
    <div id="edition-container">
        <div id="edition-title" class="flex-center flex-column">
            <h3>{{ edition.name }}</h3>
            <h2>{{ edition.title }}</h2>
        </div>
        <a class="flex-centered" href='{{edition.pdf_url}}'>
            <img class="edition-cover" src='{{edition.img_url}}'>
        </a>
        <div class="flex-column flex-center">
            <img id="chevron" src="{{url_for('home.static', filename='icons/chevron.svg')}}">
            <p>Read it now!</p>
        </div>
    </div>
</div>

<!-- About section -->
<div class="content-item">
    <div class="content-container">
        <img class="section-banner" src="{{url_for('home.static', filename='img/banner.png')}}">
        <h3 class="section-title">What is Supremum?</h3>
        <p>
            Supremum is the magazine of GEWIS, the study association for
            computer science and mathematics students at Eindhoven
            University of Technology.
            Having been around longer than GEWIS itself, Supremum has been
            a place for students to express themselves, read up on the latest
            research within the faculty, learn great recipes and much more.
            Honoring its name, Supremum sets the ceiling of what is possible
            for its more than 800 readers. Every. Single. Time.
        </p>
        <a class="counter-align" href='./supremum'>
            <p>> Start reading</p>
        </a>
    </div>
</div>

<!-- Infimum section -->
<div class="content-item">
    <div class="content-container">
        <img class="section-banner" src="{{url_for('home.static', filename='img/infima-banner.png')}}">
        <h3 class="section-title">The Infima.</h3>
        <p>
            Introduced as "a strange or funny quotation from a teacher, student,
            or faculty member" in each edition, no Supremum is complete without
            its infima.
        </p>
        <a class="counter-align" href='./infimum/submit'>
            <p>> Submit an infimum</p>
        </a>
        <a class="counter-align" href='./infimum'>
            <p>> Visit the archive</p>
        </a>
    </div>
</div>

<!-- Writing section -->
<div class="content-item">
    <div class="content-container">
        <h3 class="section-title">Play a part.</h3>
        <p>
            At Supremum, the doors are always open to collaborate with
            our members and faculty and have them reach the GEWIS members
            with their own message. Do you have an article, recipe,
            photo series, funny story - or something completely different
            - in mind that you would like to share with GEWIS through
            the magazine? Get in contact with us, so we can see together
            how we can make this happen!
        </p>
        <a class="counter-align" href='mailto:supremum@gewis.nl'>
            <p>> Contact Supremum</p>
        </a>
        <p>
            Not a (former) member, but still think you or your company
            can add something to the magazine? Get in contact with
            GEWIS's External Affairs Officer to discuss what is possible.
        </p>
        <a class="counter-align" href='mailto:ceb@gewis.nl'>
            <p>> Contact GEWIS</p>
        </a>
    </div>
</div>
{% endblock %}