{% extends 'layout.html' %}

{% from 'components/macros.html' import render_field %}
{% from 'components/macros.html' import infimum %}

{% block links %}
<link rel="stylesheet" type="text/css" href="{{url_for('home.static', filename='stylesheets/infima.css')}}">
{% endblock %}

{% block body %}
<div class="infima-overview">
    <h1 class="title">The infima</h1>
    {% if form %}
    <div id="search-form" class="module">
        <h3>Search</h3>
        <form method="POST" action="{{ request.url }}">
            <div class="form">
                <div>
                    {{ form.csrf_token }}
                    {{ render_field(form.search_term) }}
                </div>
                <button type="submit" class="submit-btn">
                    <i class="fa fa-sign-in"></i>
                    <p>> Search</p>
                </button>
            </div>
        </form>
    </div>
    {% endif %}
    {% if search_results %}
    <div id="results-box" class="module">
        <h3>Results</h3>
        {% for res in search_results %}
        {{ infimum(res) }}
        {% endfor %}
    </div>
    {% endif %}
    <div id="edition-list" class="module">
        <h3>Per edition</h3>
        <div class="edition-list">
            {% for edition in editions %}
            <a class="edition-link" href="./supremum/{{edition.volume_nr}}.{{edition.edition_nr}}/infima">
                <span>{{edition.volume_nr}}.{{edition.edition_nr}} - {{edition.theme}}</span>
            </a>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}