{% extends 'components/layout.html' %}

{% from 'components/macros.html' import render_field %}
{% from 'components/macros.html' import infimum %}

{% block links %}
<link rel="stylesheet" type="text/css" href="{{url_for('home.static', filename='stylesheets/infima.css')}}">
{% endblock %}

{% block body %}
<section>
    <div class="section-container search-container">
        <h1 class="title">The infima</h1>
        <form method="POST" action="{{ request.url }}">
            {{ form.csrf_token }}
            {{ render_field(form.search_term) }}
            <button type="submit" class="submit-btn">
                <span>> Search</span>
            </button>
        </form>
    </div>
</section>
{% if search_results %}
<section>
    <div class="section-container results-container">
        <h3 class="results-title">Results</h3>
        {% for res in search_results|reverse %}
        {{ infimum(res) }}
        {% endfor %}
    </div>
</section>
{% endif %}
<section>
    <div class="section-container per-edition-container">
        <h3>View per edition</h3>
        <div class="edition-list">
            {% for supremum in suprema|reverse %}
            <a class="edition-link" href="{{ url_for('home.infima_for_edition', volume_nr=supremum.volume_nr, edition_nr=supremum.edition_nr)}}">
                <span>> Supremum {{supremum.volume_nr}}.{{supremum.edition_nr}} - {{supremum.theme}}</span>
            </a>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}