<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{% block title %}Supremum - GEWIS{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="https://gewis.nl/img/favicon.ico" rel="shortcut icon">
    <link rel="stylesheet" type="text/css" href="{{url_for('home.static', filename='stylesheets/shared.css')}}">
    <link href="https://gewis.nl/corporateidentity/public/cdn/gewisicons/v1.1/style.css" rel="stylesheet">
    <link href="https://gewis.nl/img/favicon.ico" rel="shortcut icon" type="image/vnd.microsoft.icon">
    {% block links %}{% endblock %}
</head>
<body>
    {% include 'components/menu.html' %}
    <div class="container">
        {% block body %}{% endblock %}
    </div>
    {% include 'components/footer.html' %}
</body>
</html>