{% extends 'components/layout.html' %}

{% block links %}
<link rel="stylesheet" type="text/css" href="{{url_for('home.static', filename='stylesheets/puzzle_answers.css')}}">
{% endblock %}

{% block body %}
<section>
    <div class="section-container">
        <h3 class="section-title">Puzzle answers</h3>
        <p class="section-content">
            Below, you can find the answers to some of the puzzles published in the calendar for 2023.
            If your answer is not there, or you don't agree with a given answer, you can send us an email with your solution.
        </p>
        <a class="section-link" href='mailto:supremum@gewis.nl?subject=Puzzle answer'>
            > Send in your puzzle answer
        </a>
    </div>
</section>
<section>
    <div class="puzzle-container">
        <p>
            The most recent puzzle is from the {{ ordinals[most_recent_puzzle_date.day - 1] }} of {{ months[most_recent_puzzle_date.month - 1] }}.
        </p>
        <div class="puzzle-list">
            {% for sunday in all_sundays %}
                {% set puzzle_id = sunday.day ~ "-" ~ sunday.month %}
                {% if puzzle_id in published_puzzles %}
                <a class="puzzle-link" href="{{ url_for('home.puzzle', month_nr=sunday.month, day_nr=sunday.day)}}">
                    <span>{{ ordinals[sunday.day - 1] }} of {{ months[sunday.month - 1] }}</span>
                </a>
                {% else %}
                <a class="puzzle-link disabled" href="{{ url_for('home.puzzle', month_nr=sunday.month, day_nr=sunday.day)}}">
                    <span>{{ ordinals[sunday.day - 1] }} of {{ months[sunday.month - 1] }}</span>
                </a>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}