{% extends 'components/layout.html' %}

{% from 'components/macros.html' import render_field %}

{% block links %}
<link rel="stylesheet" type="text/css" href="{{url_for('home.static', filename='stylesheets/submit.css')}}">
{% endblock %}

{% block body %}
<section>
    <div class="section-container">
        {% if form %}
        <h3>Submit an infimum!</h3>
        <form method="POST" action="{{ request.url }}">
            {{ form.csrf_token }}
            {{ render_field(form.content) }}
            <button type="submit" class="submit-btn">
                <span class="section-link">> Submit</span>
            </button>
        </form>
        <br> <br>
        <p><b>Please submit your infimum in the following format:</b></p>
        <p style="white-space: pre-line">Context or scenario if applicable
        Person1: "I am so glad to know that I should not put astriks around a scenario!"
        Person2: "I agree, and I am a big fan of the double quotes instead of the single."
        Person1: "Also, I should really stop forgetting the colon symbol right after my name..."
        </p>
        {% else %}
        <div id="submission-succesfull">
            <h3>Your infimum has been submitted!</h3>
            <a href="" class="submit-btn">
                <p>> Submit another</p>
            </a>
        </div>
        {% endif %}
    </div>
</section>
{% endblock %}