<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{{url_for('supremum.static', filename='stylesheets/archive.css')}}">
        <link href="https://gewis.nl/corporateidentity/public/cdn/gewisicons/v1.1/style.css" rel="stylesheet">
    </head>
    
    <body>
        <div id="home-banner">
            <div class="gi gewis-s" id="banner-logo"></div>
            <h3>upremum</h3>
        </div>
        <div id="container">
            <div class="flex-centered">
                {% for edition in editions %}
                <div id="edition-archive">
                    <a class="flex-centered" id="edition" href='{{edition.pdf_url}}'>
                        <img class="gray-hover" id="edition-cover" src='{{edition.img_url}}'>                    
                    </a>
                    <p>{{ edition.name }}</p>
                    <p>{{ edition.title }}</p>
                </div>
                {% endfor %}
            </div>
        </div>
    </body>
</html>