.login-container {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: var(--GEWIS-red);
}

.login-box {
    min-width: 100px;
    width: 85%;
    max-width: 300px;

    padding: 2rem 5rem;
}

.login-box input {
    border: none;
    padding: 2rem 3rem;
    margin: 1rem 0;

    width: calc(100% - 6rem);

    font-size: 2rem;
}

.login-box button {
    border: none;
    background: transparent;
    color: #fff;
}

.login-box button p {
    text-decoration: underline;
}


.login-box h3 {
    color: #fff;
}