{% macro render_field(field) %}
    {% with errors = field.errors %}
        <div class="form-group{{ ' has-error' if errors }}">
            {{ field(class='form-control', **kwargs)|safe }}
            {% if errors %}
                {% for error in errors %}
                    <span class="help-block">{{ error }}</span>
                {% endfor %}
            {% endif %}
        </div>
    {% endwith %}
{% endmacro %}

{% macro infimum(infimum) %}
    {% with i = infimum %}
        <div class="infimum" id="{{ i.id }}">
            <p class="infimum-content">{{ i.content }}</p>
            <a class="infimum-link" href="{{ i.self }}">- Supremum {{ i.volume_nr}}.{{ i.edition_nr }}, {{i.theme}}</a>
        </div>
    {% endwith %}
{% endmacro %}