{% extends 'forms/admin_form_template.html' %}

{% from 'components/macros.html' import render_field %}

{% block form_title %}Edit Supremum.{% endblock %}

{% block contents %}
    {% if form.supremum_id.data != None %}
        {{ render_field(form.supremum_id, show_label=True) }}
    {% endif %}
    {{ render_field(form.volume_nr, show_label=True) }}
    {{ render_field(form.edition_nr, show_label=True) }}
    {{ render_field(form.theme, show_label=True) }}
    {{ render_field(form.published, show_label=True) }}
    {{ render_field(form.magazine, show_label=True) }}
    {{ render_field(form.cover, show_label=True) }}
{% endblock %}

{% block submit_title %}> Submit{% endblock %}
