<div id="menu">
    <a href="{% block link %}/{% endblock %}" class="menu-logo">
        <div class="gi gewis-s"></div>
        {% block title %}
        <h3 class="logo-text accomodate-shrink">upremum</h3>
        {% endblock %}
    </a>
    {% if user.is_authenticated %}
        <a href="/auth/logout" class="login-btn btn-hover">
            <span class="accomodate-shrink"><b>Logout</b></span>
        </a>
    {% else %}
        <a href="/auth/login" class="login-btn btn-hover">
            <span class="accomodate-shrink"><b>Login</b></span>
        </a>
    {% endif %}
</div>