* {
    font-family: Arial, Helvetica, sans-serif;
}

.overview-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 2rem 0;
    box-sizing: border-box;
}

.overview-container {
    width: 95%;
    max-width: 1000px;
}

/* Button */

.cta-button {
    background-color: var(--clr-accent-700);
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    padding: 1rem 1.75rem;
}

.cta-button:active {
    background: #B00020;
}

/* Table */

.admin-table {
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    overflow-x: auto;
}

.admin-table table {
    border: none;
    border-collapse: collapse;
    padding: 0;
    margin: 0;
}

.table-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

th {
    padding: .75rem 0;
}

td.name p {
    min-width: 16ch;
    padding-left: 2ch
}

td.title p {
    min-width: 16ch;
}

td.icon, td.edit-btn, td.id, td.date, td.rejected {
    padding: 0 3rem;
    text-align: center;
}

td.content p {
    min-width: 30ch;
    max-width: 95%;
}

tr:first-child {
    background-color: var(--clr-accent-700) !important;
    color: #fff;
}

tr:nth-child(2n) {
    background-color: white;
}

tr:nth-child(2n+1) {
    background-color: #FEEDEE;
}

img {
    width: 50px;
    height: 35px;
}

.edit-btn {
    display: inline-block;
    box-sizing: border-box;
    background: var(--clr-accent-700);
    padding: 1rem;
    margin: 0 2rem;
    border-radius: .75rem;
    width: 35px;
    height: 35px;
}

.edit-btn img {
    display: block;
    margin: auto;
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(122deg) brightness(109%) contrast(101%);
    max-width: 100%;
    max-height: 100%;
}