.overview-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.overview-container {
    width: 95%;
    max-width: 1000px;
}

/* Button */

.cta-button {
    background-color: var(--clr-accent-700);
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    padding: 1rem 1.75rem;
}

.cta-button:active {
    background: #B00020;
}

/* Table */

.admin-table {
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    overflow-x: auto;
}

.admin-table table {
    border: none;
    border-collapse: collapse;
    padding: 0;
    margin: 0;
}

.table-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

th {
    padding: .75rem 0;
}

tr {
    width: 100%;
}

td {
    padding: 0 3rem;
}

tr:first-child {
    background-color: var(--clr-accent-700) !important;
    color: #fff;
}

tr:nth-child(2n) {
    background-color: white;
}

tr:nth-child(2n+1) {
    background-color: #FEEDEE;
}