* {
    font-family: Arial, Helvetica, sans-serif;
}

section {
    overflow-x: auto;
}

section p {
    color: var(--dark-color);
}

.table-title {
    box-sizing: border-box;
    margin: auto;
    padding: 2rem 4rem;

    width: 100%;
    max-width: 1000px;
}

.table-container {
    box-sizing: border-box;
    margin: auto;
    padding: 2rem 4rem 4rem;

    width: 1000px;
}

/* Button */

.cta-button {
    color: var(--GEWIS-red);
    background-color: var(--light-color);
    border: none;
    border-radius: 5px;
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    padding: 1rem 1.75rem;
}

.cta-button:hover,
.cta-button:active {
    transform: translateY(.5rem);
    transition: 50ms;
}

/* Table */
.table-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
