a, button {
    cursor: pointer;
}

form {
    max-width: 95%;
    margin: auto;
}

.form-group {
    display: flex;
    align-items: center;
    margin: 1.5rem 0;
}

.form-group label {
    display: inline-block;
    min-width: 15ch;
    font-size: 1.75rem;
}

.form-group input {
    box-sizing: border-box;
    padding: .5rem;
}

.form-group textarea {
    min-width: 50ch;
    min-height: 20rem;
}

.form-group select {
    min-width: 25ch;
    max-width: 1000px;
    background-color: transparent;
    padding: .5rem 0;
    border: solid 1px;
}

.submit-btn {
    background-color: transparent;
    text-decoration: underline;
    color: var(--GEWIS-red);
    border: none;
}

.field-errors {
    color: var(--GEWIS-red);
}

.panel {
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
}