{% macro infima_table(infima) %}
    <table class="admin-table infima-table">
        <tr>
            <th><span>Date</span></th>
            <th><span>Content</span></th>
            <th><span>Rejected</span></th>
            <th></th>
        </tr>
        {% for infimum in infima %}
        <tr>
            <td class="submission-date">
                <p>{{ infimum.submission_date }}</p>
            </td>
            <td class="content">
                <p>{{ infimum.content }}</p>
            </td>
            <td class="rejected">
                <p>{{ infimum.rejected }}</p>
            </td>
            <td class="btn">
                <a class="table-btn edit-btn" href="/admin/infimum/{{infimum.id}}/edit">
                    <img src="{{url_for('admin.static', filename='img/pencil.svg')}}">
                </a>
            </td>
        </tr>
        {% endfor %}
    </table>
{% endmacro %}

{% macro supremum_table(editions) %}
<table class="admin-table">
    <tr>
        <th><span>Name</span></th>
        <th><span>Theme</span></th>
        <th colspan="3"><span>Status</span></th>
        <th colspan="2"></th>
    </tr>
    {% for edition in editions %}
    <tr>
        <td class="name">
            <p>Supremum {{ edition.volume_nr }}.{{ edition.edition_nr }}</p>
        </td>
        <td class="title">
            <p>{{ edition.theme }}</p>
        </td>
        <td class="icon">
            {% if edition.published %}
            <img src="{{url_for('admin.static', filename='img/visible.svg')}}">
            {% else %}
            <img src="{{url_for('admin.static', filename='img/invisible.svg')}}">
            {% endif %}
        </td>
        <td class="icon">
            {% if edition.pdf_url %}
            <a href="{{edition.pdf_url}}">
                <img src="{{url_for('admin.static', filename='img/document.svg')}}">
            </a>
            {% else %}
            <img src="{{url_for('admin.static', filename='img/no_document.svg')}}">
            {% endif %}
        </td>
        <td class="icon">
            {% if edition.cover_url %}
            <a href="{{edition.img_url}}">
                <img src="{{url_for('admin.static', filename='img/image.svg')}}">
            </a>
            {% else %}
            <img src="{{url_for('admin.static', filename='img/no_image.svg')}}">
            {% endif %}
        </td>
        <td class="btn">
            <a class="table-btn infima-btn" href="supremum/{{edition.id}}/infima"><b>infima</b></a>
        </td>
        <td class="btn">
            <a class="table-btn edit-btn" href="supremum/{{edition.id}}/edit">
                <img src="{{url_for('admin.static', filename='img/pencil.svg')}}">
            </a>
        </td>
    </tr>
    {% endfor %}
</table>
{% endmacro %}